<h1>This is Show page</h1>

<p>
    name: <%= @todo.name %>
</p>
<p>
    discription: <%= @todo.description%>
</p>


<%= link_to "Go to List page", todos_path%>
<br>
<%= link_to "Go to edit page", edit_todo_path(@todo) %>